---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<br>
<table class="table_publications">
        
  <tbody>

    <tr valign="top" style="background-color: rgb(249, 249, 249);border-radius:11pt;border-style: groove;border-color:#ffffff3b;border-width: 2px;">
      <td class="imagestyle">
        
        <img src="../images/cover_hq.png">
        
      </td>
      <td class="publications">
        <div class="bookmark_div"><span class="bookmark" id="Edurne2022VideoSaliency"></span></div>
        <p>
          <strong>Modeling, Perception and Editing of Volumetric Materials</strong><span class="brmedium">
            <br>
          </span> *Dario Lanza* - Supervised by <a href="https://webdiis.unizar.es/~bmasia/" target="_blank">Belen Masia</a> and <a href="http://giga.cps.unizar.es/~ajarabo/" target="_blank">Adrian Jarabo</a><span class="brlarge"></span> 
          <br>
        </span> PhD Thesis in Computer Science<span class="brlarge"></span> 
        <br>
        
          <hr style="margin:12px auto">
          
          <a href="../files/thesis_lq.pdf" target="_blank"><span class="label-primary">PDF</span></a>
          <!-- <a href="https://graphics.unizar.es/projects/FeathersAppearance_2024/" target="_blank"><span class="label-primary">Project page</span></a>  -->
          
        </p>
      </td>
    </tr>



    <tr valign="top" style="background-color: rgb(249, 249, 249);border-radius:11pt;border-style: groove;border-color:#ffffff3b;border-width: 2px;">
      <td class="imagestyle">
        
        <img src="../images/feathersTeaser.png">
        
      </td>
      <td class="publications">
        <div class="bookmark_div"><span class="bookmark" id="Edurne2022VideoSaliency"></span></div>
        <p>
          <strong>A Surface-based Appearance Model for Pennaceous Feathers</strong><span class="brmedium">
            <br>
          </span> Juan Raúl Padrón-Griffe, Dario Lanza, Adrián Jarabo, Adolfo Muñoz <span class="brlarge"></span> 
          <br>
          <span class="pub-site"> <i> Computer Graphics Forum (Pacific Graphics 2024) </i> </span><br>
          
          <hr style="margin:12px auto">
          
          <a href="https://graphics.unizar.es/projects/FeathersAppearance_2024/A%20Surface-based%20Appearance%20Model%20for%20Pennaceous%20Feathers_files/feathers_appearance_PG_2024.pdf" target="_blank"><span class="label-primary">PDF</span></a>
          <a href="https://graphics.unizar.es/projects/FeathersAppearance_2024/" target="_blank"><span class="label-primary">Project page</span></a> 
          
        </p>
      </td>
    </tr>


    <tr valign="top" style="background-color: rgb(249, 249, 249);border-radius:11pt;border-style: groove;border-color:#ffffff3b;border-width: 2px;">
      <td class="imagestyle">
        
        <img src="../images/cosmeticAppearanceTeaser.jpeg">
        
      </td>
      <td class="publications">
        <div class="bookmark_div"><span class="bookmark" id="Edurne2022VideoSaliency"></span></div>
        <p>
          <strong>Practical Appearance Model for Foundation Cosmetics</strong><span class="brmedium">
            <br>
          </span> Dario Lanza, Juan Raúl Padrón-Griffe, Alina Pranovich, Adolfo Muñoz, Jeppe Revall Frisvad, Adrián Jarabo <span class="brlarge"></span> 
          <br>
          <span class="pub-site"> <i> Computer Graphics Forum (EGSR 2024) </i> </span><br>
          
          <hr style="margin:12px auto">
        
          <a href="https://graphics.unizar.es/papers/Lanza2024Cosmetic.pdf" target="_blank"><span class="label-primary">PDF</span></a>
          <a href="https://graphics.unizar.es/projects/CosmeticsAppearance_2024/" target="_blank"><span class="label-primary">Project page</span></a> 
          
        </p>
      </td>
    </tr>

    <tr valign="top" style="background-color: rgb(249, 249, 249);border-radius:11pt;border-style: groove;border-color:#ffffff3b;border-width: 2px;">
      <td class="imagestyle">
        
        <img src="../images/navigatingManifoldTeaser.png">
        
      </td>
      <td class="publications">
        <div class="bookmark_div"><span class="bookmark" id="Edurne2022VideoSaliency"></span></div>
        <p>
          <strong>Navigating the Manifold of Translucent Appearance</strong><span class="brmedium">
            <br>
          </span> Dario Lanza, Belen Masia and Adrian Jarabo <span class="brlarge"></span> 
          <br>
          <span class="pub-site"> <i> Computer Graphics Forum (Eurographics 2024) </i> </span><br>
          
          <hr style="margin:12px auto">
        
          <a href="https://graphics.unizar.es/projects/translucent_manifold/navigating_translucent.pdf" target="_blank"><span class="label-primary">PDF</span></a>
          <a href="https://graphics.unizar.es/projects/translucent_manifold/" target="_blank"><span class="label-primary">Project page</span></a> 

          <!-- <a href="https://graphics.unizar.es/papers/2022_Lanza_PerceptionTranslucencyDynamicIllumination.pdf" target="_blank"><span class="label-primary">PDF</span></a>
          <a href="https://graphics.unizar.es/projects/PerceptionTranslucencyDynamicIllumination/" target="_blank"><span class="label-primary">Project page</span></a> 
          <a href="https://www.youtube.com/watch?v=AqFBCdjfbXk&t=1s" target="_blank"><span class="label-primary">Fast Forward</span></a>  -->
          <!--<a href="https://graphics.unizar.es/docs/Bernal_2022_SSTSal.bib" target="_blank"><span class="label-primary">Bibtex</span></a> 
          <span class="categ-jour"> <strong>Symposium (JCR Q2)</strong></span> -->
          
          
        </p>
      </td>
    </tr>

      <tr valign="top" style="background-color: rgb(249, 249, 249);border-radius:11pt;border-style: groove;border-color:#ffffff3b;border-width: 2px;">
        <td class="imagestyle">
          
          <img src="../images/PerceptionTranslucencyDynamicIllumination_teaser.png">
          
        </td>
        <td class="publications">
          <div class="bookmark_div"><span class="bookmark" id="Edurne2022VideoSaliency"></span></div>
          <p>
            <strong>On the Influence of Dynamic Illumination in the Perception of Translucency</strong><span class="brmedium"></span> Dario Lanza, Adrian Jarabo, Belen Masia<span class="brlarge"></span> 
            <span class="pub-site">ACM Symposium on Applied Perception (SAP), 2022</span><br>
            
            <hr style="margin:12px auto">
            
            <a href="https://graphics.unizar.es/projects/PerceptionTranslucencyDynamicIllumination/files/dynamic_illumination.pdf" target="_blank"><span class="label-primary">PDF</span></a>
            <a href="https://graphics.unizar.es/projects/PerceptionTranslucencyDynamicIllumination/" target="_blank"><span class="label-primary">Project page</span></a> 
            <a href="https://www.youtube.com/watch?v=AqFBCdjfbXk&t=1s" target="_blank"><span class="label-primary">Fast Forward</span></a> 
            <!--<a href="https://graphics.unizar.es/docs/Bernal_2022_SSTSal.bib" target="_blank"><span class="label-primary">Bibtex</span></a> 
            <span class="categ-jour"> <strong>Symposium (JCR Q2)</strong></span> -->
            
            
          </p>
        </td>
      </tr>
  



    <tbody>
  </table>
